/bin/
/old/
/ETS2.sii
/LiveStreamListConverter.jar
/playlist.pls
/LiveStreamListConverter.FileLocations.cfg
/LiveStreamListConverter.KnownStations.cfg
/LiveStreamListConverter.old.jar
/playlist.m3u
/playlist.m3u8
/playlist.example.m3u
/LiveStreamListConverter.KnownStations.original.cfg
